
/*
* css reset
*/
p, ul, span {
    margin: 0;
    cursor: default;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a { text-decoration: none; }

input {
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
}

/*
* css generic
*/
.wL { width: 50px; }
.wR { width: 550px; }

.df { display: flex; }
.dn { display: none; }
.lh { line-height: 50px; }
.f20 { font-size: 20px; }
.p15 { padding: 15px; }
.bb { border-bottom: 1px solid #ddd; }
.ddd { color: #ddd; }
.black { color: #000; }
.vh { visibility: hidden; }
.ct {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
* css specific
*/
h1 {
    text-align: center;
    font-size: 48px;
    color: rgba(255, 0, 0, 0.2);
}

div#app {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;

    /**
    * 以下两个属性都会被继承，除了input元素需要手动设定
    * line-height: 1.5em/150% 向子元素传递的是计算值（30px）
    * line-height: 1.5 传递的是比例，若子元素font-size覆写为10px，则line-height为15px
    */
    font-size: 20px;
    line-height: 1.5;
}

::placeholder {
    color: #ddd;
    font-style: italic;
}

/* 自定义输入框 */
.my-input {
    padding: 15px;
    border: none;
    width: calc(100% - 30px);
}

.my-input:focus {
    outline-offset: unset;
    outline: 0;
}

.edit:focus {
    outline: 1px solid #999;
}

/* todo事项文本框 */
.my-p {
    padding: 15px;
    word-break: break-all;
}

.done {
    text-decoration: line-through;
    color: #ddd;
}

/* 单事项删除符 */
.delete {
    color: rgba(255, 0, 0, 0.5);
    font-size: 24px;
    float: right;
    transform: translateY(-2px);
}

.delete:hover {
    color: red;
}

footer {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    color: #666;
}

/* footer的第一个子元素 */
.f1 {
    position: absolute;
    top: 10px;
    left: 15px;
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: #666;
}

.toggle {
    margin-right: 10px;
    padding: 3px 6px;
}

.toggle:focus,
.toggle:hover,
.out {
    outline: 1px solid rgba(255, 0, 0, 0.2);
}

/* 删除所有“已完成”事项 */
.clear {
    position: absolute;
    top: 10px;
    right: 15px;
}
.clear:hover {
    text-decoration: underline;
}
