<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>跟敲</title>
        <link rel="stylesheet" href="todo.css">
        <script src="../../vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- <todo-component></todo-component> -->
            <header class="df bb ddd">
                <p class="wL ct">▼</p>
                <div class="wR">
                    <input class="my-input" type="text" placeholder="What needs to be done?">
                </div>
            </header>
            <ul>
                <li class="df bb">
                    <div class="wL ct">
                        <input class="" type="checkbox">
                    </div>
                    <div class="wR">
                        <p class="my-p">
                            good job
                            <span class="delete">×</span>
                        </p>
                    </div>
                </li>
                <li class="df bb">
                    <div class="wL ct">
                        <input class="" type="checkbox">
                    </div>
                    <div class="wR">
                        <input class="my-input edit" type="text">
                    </div>
                </li>
            </ul>
            <footer>
                <span>0 items left</span>
                <span>
                    <a class="toggle" href="#">All</a>
                    <a class="toggle" href="#">Active</a>
                    <a class="toggle" href="#">Completed</a>
                </span>
                <a class="clear" href="#">Clear completed</a>
            </footer>
        </div>

        <!-- <template id="container">
            <div>
                <todo-list
                :is-editing="isEditing"
                :item="item"
                @into-editing="toggle"
                v-for="item in todoList">
                </todo-list>
            </div>
        </template>

        <template id="todo">
            <div class="wrapper">
                <input type="checkbox" value="" class="my-checkbox">
                <span v-if="isEditing">
                    <input type="text" class="my-input">
                </span>
                <span v-else>
                    <p @dblclick="$emit('into-editing')">{{ item }}</p>
                </span>
            </div>

        </template> -->

        <!--  -->
        <script src="todo.js"></script>
    </body>
</html>
